<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581778668627-ethc188iqe1lakn3eoh5eo8tcsh6gqgr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581778668627-ethc188iqe1lakn3eoh5eo8tcsh6gqgr</string>
	<key>API_KEY</key>
	<string>AIzaSyCoDUXenidFk1Yzg2zkUfnyxYsRinbP9KU</string>
	<key>GCM_SENDER_ID</key>
	<string>581778668627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.juzawo</string>
	<key>PROJECT_ID</key>
	<string>juzawo-13cea</string>
	<key>STORAGE_BUCKET</key>
	<string>juzawo-13cea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581778668627:ios:de2364aad1d58564c31aa6</string>
</dict>
</plist>